<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<div class="row">
	<div class="col-md-4"><%= image_tag(@product.image_url, width: "350") %></div>

	<div class="col-md-4">
		<p>
		  <h2><%= @product.name %></h2>
		</p>

		<p>
		  <%= @product.description %>
		</p>

		<p>
		  <strong>Color:</strong> <%= @product.color %>
		</p>

		<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
	
		<%= form_tag("/payments/create", remote: true) do %>
		  <%= render partial: "shared/stripe_checkout_button" %>
		<% end %>		

	</div>

</div>

<%= render 'new_comment' %>

<%= render 'comments' %>